@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato@1&display=swap');

$textHoverColor:#FFF;
$primaryColor: rgb(224, 224, 224);
$secondaryColor: rgb(0, 0, 0, 0.05);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

// Body
    body {
        background-color: $primaryColor;
    }

// Header
    header {
        margin-bottom: 1rem;

        .navbar-nav {
            border-radius: 5px;

            a {
                color: rgb(131, 131, 131);

                &:hover {
                    color: rgb(0, 0, 0);
                }
            }

            .active {
                color: rgb(0, 0, 0);
                background-color: $secondaryColor;
                border-radius: 4px;
            }
        }

        .logo {
            transition: 0.4s;

            &:hover {
                transform: scale(1.02);
            }
        }
    }

    .img-fluid {
        max-width: 500px;
        padding-top: 1rem;
    }

// Main
    main {
        img {
            width: 100%;
            border-radius: 5px;
        }
    
        p {
            text-align: justify;
            text-justify: inter-word;
        }

        .brief {
            background-color: $secondaryColor;
            border-radius: 5px;
            max-width: 98%;
            padding: 1rem 2rem;
            margin-top: 1rem;
        }
    }

// Footer
    footer {
        background-color: $secondaryColor;
        margin-top: 1rem;

        a {
            color: rgb(131, 131, 131);
            text-decoration: none;

            &hover {
                color: rgb(0, 0, 0);
                text-decoration: underline;
            }
        }

    } 

    .backToTop {
        background-color: $primaryColor;
        margin-bottom: 1rem;

        a {
            color: #000;
            background-color: $secondaryColor;
            padding: 0.5rem 1rem;
            border-radius: 5px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            transition: 0.3s;

            &:hover {
                color: $textHoverColor;
                border: 1px solid rgba(0, 0, 0, 0.2);
                background-color: rgba(0, 0, 0, 0.308);
            }
        }
    }

    .footer-copyright {
        background-color: $secondaryColor;
    }

@media screen and (max-width: 600px) {
    .logo {
        max-width: 90%;
    }

    .brief {
        max-width: 95%;
        padding: 0 1rem;
    }
}