.contactContainer {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px;

    input[type=text], 
    input[type=password], 
    input[type=email], 
    textarea, 
    select {
        padding: 6px 2px;
        margin-bottom: 25px;
        width: 100%;
        display: inline-block;
        border: 0px solid rgb(66, 66, 66, 0.4);
        box-sizing: border-box;
        background: linear-gradient(-20deg, $secondaryColor, rgb(206, 206, 206));
        outline: none;

        &:focus {
            border: 1px solid rgb(167, 167, 167);
        }
    }

    textarea {
        margin: 4px 0px;
        width: 100%;
        display: inline-block;
        box-sizing: border-box;
    }

    .contactButton {
        padding: 6px 2px;
        margin-top: 15px;
        width: 49%;
        display: inline-block;
        font-weight: 700;
        text-transform: uppercase;
        background-color: $secondaryColor;
        border: 0px solid rgb(66, 66, 66, 0.4);
    
        &:hover{
            padding: 6px 2px;
            margin-top: 15px;
            width: 49%;
            display: inline-block;
            color: rgb(255, 255, 255);
            border-radius: 2px;
            box-sizing: border-box;
            transition: 0.3s;
            cursor: pointer
        }
    }

    ::placeholder {
        padding: 3px 5px;
        color: rgba(66, 66, 66, 0.473);
    }
}